.buttons {
            background-color: @primary-button-color;
            color: #E0E0E0;
            padding: 0.5rem 6rem;
            border-radius: 20px;
            transition: background-color, ease-in-out 0.5s;
            border: 0px;

            &:hover {
                background-color: @animation-color;
            }

            a {
                text-decoration: none;
                color: @primary-text-color;
            }
        }