#contacto {

    .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .field {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;

            label{
                padding: 0.5rem 0rem;
            }

            input {
                padding: 0rem 2rem;
                text-align: center;
                border-radius: 10px solid;
            }

            textarea {
                padding: 0rem 2rem;
                text-align: center;
            }
        }
    }
}