*{
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

html{
    size: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: @primary-background-color;
    color: @primary-text-color;
}

main{
    background-color: @primary-background-color;
    color: @primary-text-color;
}

footer{
    text-align: center;
    background-color: @primary-background-color;
    color: @primary-text-color;
}